@font-face {
    font-family: "Nintendo";
    src: url("font/Nintendo_Switch_UI_Font.ttf") format("truetype");
}

@font-face {
    font-family: "Josefin";
    src: url("font/Josefin_Sans/JosefinSans-Regular.ttf") format("truetype");
}

body {
    font-family: "Josefin";
    color: #313538;
}

span {
    font-weight: bold;
}

.Italique {
    font-style: italic;
}

.center {
    text-align: center;
}

.black {
    color: #313538;
}

.blue {
    color: #0073a0;
}

.clearBlue {
    color: #009fe3;
}

.noDecoration{
        text-decoration: none;
}

/*---------------HEADER----------------*/

#entete {
    text-align: center;
    font-family: "Nintendo";
    padding: 5% 0;
    background-color: #e5f1f5;
}

#entete h1 {
    color: #0073a0;
    font-size: 5em;
}

#entete h2 {
    color: #313538;
}

.video {
    padding: 0 0 3% 0;
}

/*---------------SCRIPT----------------*/

.invisible {
    position: absolute;
    z-index: 10;
    opacity: 0%;
}

.visible {
    position: inherit;
    z-index: 10;
    opacity: 100%;
}

/*---------------NAV----------------*/

.auDessus {
    position: absolute;
    z-index: 10;
}

#menuFerme {
    background-color: #313538;
    opacity: 80%;
    position: fixed;
    z-index: 10;
    width: 4.5em;
    height: 4.5em;
    margin: 0 0 0 -1em;
    text-align: center;
    border-radius: 0 5% 35% 0;
}

#imgMenuFerme {
    width: 3em;
    margin: 1em 0 0 0;
}

#menuOuvert {
    opacity: 80%;
    position: fixed;
    z-index: 10;
    height: 100%;
}

#imgMenuOuvert {
    width: 3em;
    margin: 1em 0 0 0;
}

#menuOuvertTout {
    background-color: #313538;
    border-radius: 0 2em 2em 0;
    height: 38em;
    width: 50em;
    border: black 2px solid;
    color: #ebebeb;
}

#menuOuvertTout a {
    font-size: 1.1em;
}

#imageCroix {
    text-align: right;
    margin: 0 0 3em 0;
}

.elementMenu {
    margin: 2em 0;
    padding: 0.3em 0;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
}

header a {
    color: #ebebeb;
    text-decoration: none;
    display: flex;
}

.elementMenu:hover {
    transition: 0.2s;
    color: #313538;
}

header nav a:hover {
    color: #ebebeb;
    background-color: #ebebeb;
    text-decoration: none;
}

/*---------------MAIN----------------*/

#rowPresentation {
    padding-bottom: 4em;
}

#phraseAccroche {
    padding: 4em 0;
    text-align: center;
    color: #0073a0;
    font-size: 1.6em;
}

#texteAccroche {
    font-size: 1.2em;
}

#moiSansAccroche {
    box-shadow: 0 0 0.3em #0072a0;
    padding: 3em 1em;
    margin-right: 5em;
    border-radius: 2em;
}

#Moi {
    width: 20em;
}

.shape {
    background-color: #009fe3;
    opacity: 30%;
    position: absolute;
    z-index: -1;
}

/*-----Video Game-----*/

#titreVideoGame {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    margin: 0 0 2em 0;
}

#logoVideoGame {
    margin-left: 1%;
    width: 7em;
}

#jeuvideo {
    padding-left: 1%;
    font-family: "Nintendo";
    color: #0073a0;
}

.troisTitres {
    font-size: 3em;
}

#shapeVideoGame {
    padding: 0.7em 13.4em;
    margin: 1.7em 0 0 0;
}

/*-----Board Game-----*/

#titreBoardGame {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    padding-top: 5em;
    margin: 0 0 2em 0;
}

#logoBoardGame {
    margin-left: 2%;
    width: 4.5em;
}

#jeusociete {
    padding-left: 1%;
    font-family: "Nintendo";
    color: #0073a0;
}

#jeusociete h2 {
    font-size: 2.2em;
}

#shapeBoardGame {
    padding: 0.7em 15.2em;
    margin: 1.7em 0 0 0;
}

/*-----Court-Métrage-----*/

#titreFilm {
    display: flex;
    align-items: center;
    font-size: 1em;
    padding-top: 5em;
    margin: 0 0 2em 0;
}

#logoFilm {
    margin: 0 0 1.5em 2%;
    width: 3.5em;
}

#film {
    padding-left: 1%;
    font-family: "Nintendo";
    color: #0073a0;
}

#film h2 {
    font-size: 2.2em;
}

#shapeFilm {
    padding: 0.7em 8.7em;
    margin: 1.7em 0 0 0;
}

/*-----Contacts-----*/

#titreContact {
    display: flex;
    align-items: center;
    padding-top: 5em;
    margin: 0 0 2em 0;
}

#logoContact {
    margin: 0 0 0 2em;
    width: 5em;
}

#contact {
    padding-left: 1%;
    font-family: "Nintendo";
    color: #0073a0;
}

#shapeContact {
    padding: 0.7em 10.2em;
    margin: 1.7em 0 0 0;
}

/*------------Réalisations--------------*/

.SousTitre {
    text-align: center;
    font-family: "Nintendo";
    color: #0073a0;
    font-weight: bold;
    padding: 0 0 10% 0;
}

.SousTitreMemoire {
    text-align: center;
    font-family: "Nintendo";
    color: #0073a0;
    font-weight: bold;
    padding: 0 0 3% 0;
}

.SousTitre2 {
    text-align: center;
    font-family: "Nintendo";
    color: #14477B;
    font-weight: bold;
    padding: 2% 0;
}

.SousTitre2 {
    transition: transform 0.5s;
}

.SousTitre2:hover {
    transform: scale(1.2);
}

.DivImage {
    text-align: center;
}

.DivLogoItchio {
    text-align: right;
}

.troisLogo{
    padding: 0 5% 0 0;
}

.logoItchio {
    padding: 0;
    width: 3em;
    transition: transform .5s;
}

.logoItchio:hover {
    transform: scale(1.5);
}

#logoBIC {
    padding: 0;
    width: 5em;
    transition: transform .5s;
}

#logoBIC:hover {
    transform: scale(2);
}

#PFE {
    padding: 5%;
}

#ImagePFE {
    width: 22em;
}

#TempleKaji {
    padding: 5%;
}

#ImageTempleKaji {
    width: 22em;
}

#BorrowedTime {
    padding: 5%;
}

#ImageBorrowedTime {
    width: 22em;
}

#Fallandaforad {
    padding: 5%;
}

#ImageFallandaforad {
    width: 22em;
}

#Javascript {
    padding: 5%;
}

#ImageJavascript {
    width: 22em;
}

#FatesWays {
    padding: 5%;
}

#ImageFatesWays {
    width: 22em;
}

#OchitaKamigami {
    padding: 5%;
}

#ImageOchitaKamigami {
    width: 22em;
}

#Decroissance {
    padding: 5%;
}

#ImageDecroissance {
    width: 22em;
}

#OutilResilience {
    padding: 5%;
}

#ImageOutilResilience {
    width: 22em;
}

#ImageAnemone {
    width: 10em;
}

#ImagePoisson {
    width: 10em;
}

#TripleEthnie {
    padding: 5%;
}

#ImageTripleEthnie {
    width: 22em;
}

#Fanfic {
    padding: 5%;
}

#ImageFanfic {
    width: 22em;
}

#StaseMancienne {
    padding: 5%;
}

#ImageStaseMancienne {
    width: 15em;
}

#Celestin {
    padding: 5%;
}

#ImageCelestin {
    width: 22em;
}

.machin {
    background-color: #e5f1f5;
    box-shadow: 0.05em 0.05em 0.2em #0073a0;
}

h6 {
    padding: 2% 0 0 0;
    color: #FFD58F;
}

li {
    padding: 0 0 1% 0;
}

/*---------------KBF----------------*/

#videoKBF {
    text-align: center;
    background-color: #3B252E;
}

#pageKBFlogoBIC {
    width: 10em;
    padding: 10% 0;
}

#enteteKBF {
    text-align: center;
    font-family: "Nintendo";
    background-color: #3B252E;
    margin: 0 -10% 0 -10%;
}

#BandeauKBF {
    width: 100%;
}

#mainKBF {
    background-color: #BEA196;
}

#footerKBF {
    background-color: #BEA196;
}

#KBF {
    padding: 5%;
}

#phraseAccrocheKBF {
    padding: 4em 0;
    text-align: center;
    font-size: 1.3em;
}

#ImageKBF {
    width: 21em;
}

#PageKBF {
    padding: 5%;
}

#ImagePrixKBF {
    width: 15em;
}

#ImageOnePageKBF {
    width: 35em;
}

#ImageQueteKBF {
    width: 35em;
}

#ImageDocuGrpahKBF {
    width: 25em;
}

#ImageDocuProgKBF {
    width: 28em;
}

#ImageMetricsKBF {
    width: 28em;
}

#ImageLevelDesignKBF {
    width: 35em;
}

.KBFCenter {
    text-align: center;
}

.machinKBF {
    background-color: #3B252E;
    box-shadow: 0.05em 0.05em 0.2em #0073a0;
    color: #FFD54E;
    font-size: 1.2em;
}

.machinKBF h4 {
    color: #EF7D00;
}

.machinKBF h2 {
    color: #EF7D00;
}

/*---------------PUMP IT----------------*/
#PumpIt {
    padding: 5%;
}

#ImagePumpIt {
    width: 19em;
}

#entetePumpIt {
    text-align: center;
    font-family: "Nintendo";
    background-color: #473648;
    margin: 0 -10% 0 -10%;
}

#BandeauPumpIt {
    width: 100%;
}

#videoPumpIt {
    text-align: center;
    background-color: #473648;
    padding: 0 0 5% 0;
}

#pageKBFlogoBIC {
    width: 10em;
    padding: 10% 0;
}

#mainPumpIt {
    background-color: #26111E;
        color: #E9E2BE;

}

#footerPumpIt {
    background-color: #473648;
}

.machinPumpIt {
    background-color: #473648;
    box-shadow: 0.05em 0.05em 0.2em #0073a0;
    color: #E9E2BE;
    font-size: 1.2em;
}

.machinPumpIt h4 {
    color: #A83F49;
}

.machinPumpIt h2 {
    color: #A83F49;
}

/*---------------RUNE AWAY----------------*/
#RuneAway {
    padding: 5%;
}

#ImageRuneAway {
    width: 19em;
}

#ImageHommeRune {
    width: 12em;
}

#ImageOutilRuneAway{
    width: 30em;
}

#enteteRuneAway {
    text-align: center;
    font-family: "Nintendo";
    background-color: #FAF3E0;
    margin: 0 -10% 0 -10%;
}

#BandeauRuneAway {
    width: 100%;
}

#videoRuneAway {
    text-align: center;
    background-color: #FAF3E0;
    padding: 0 0 5% 0;
}

#footerRuneAway {
    background-color: #FAF3E0;
}

.machinRuneAway {
    background-color: #FAF3E0;
    box-shadow: 0.05em 0.05em 0.2em #0073a0;
    color: #AA936B;
    font-size: 1.2em;
}

#mainRuneAway {
    background-color: #AA936B;
        color: #E9E2BE;
}

.machinRuneAway h6 {
    color: #020202;
}

.machinRuneAway h4 {
    color: #A83F49;
}

.machinRuneAway h2 {
    color: #A83F49;
}

/*---------------MANOIR SOURI----------------*/
#ManoirSouri {
    padding: 5%;
}

#ImageManoirSouri {
    width: 22em;
}

#enteteManoir {
    text-align: center;
    font-family: "Nintendo";
    background-color: #422927;
    margin: 0 -10% 0 -10%;
}

#BandeauManoir {
    width: 100%;
}

#videoManoir {
    text-align: center;
    background-color: #422927;
    padding: 5% 0 5% 0;
}

#footerManoir {
    background-color: #422927;
}

.machinManoir {
    background-color: #422927;
    box-shadow: 0.05em 0.05em 0.2em #0073a0;
    color: #E9E2BE;
    font-size: 1.2em;
}

#mainManoir {
    background-color: #2B1111;
        color: #E9E2BE;
}

.machinManoir h6 {
    
}

.machinManoir h4 {
    color: #FFD200;
}

.machinManoir h2 {
    color: #FFD200;
}

/*---------------TIMELINE----------------*/
#Timeline {
    padding: 5%;
}

#ImageTimeline {
    width: 20em;
}

#enteteTimeline {
    text-align: center;
    font-family: "Nintendo";
    background-color: #E4F1F6;
    margin: 0 -10% 0 -10%;
}

#BandeauTimeline {
    width: 100em;
}

#videoTimeline {
    text-align: center;
    background-color: #E4F1F6;
    padding: 5% 0 2% 0;
}

#footerTimeline {
    background-color: #E4F1F6;
}

.machinTimeline {
    background-color: #E4F1F6;
    box-shadow: 0.05em 0.05em 0.2em #0073a0;
    color: #31353D;
    font-size: 1.2em;
}

#mainTimeline {
    background-color: #FFFFFF;
        color: #31353D;
}

.machinTimeline h6 {
    color: #0D74A1;
}

.machinTimeline h4 {
    color: #0D74A1;
}

.machinTimeline h2 {
    color: #0D74A1;
}

/*---------------SYMBIODUO----------------*/
#SymbioDuo {
    padding: 5%;
}

#ImageSymbioDuo {
    width: 20em;
}

#ImageAnemonePoisson {
    width: 28em;
}

#enteteSymbioDuo {
    text-align: center;
    font-family: "Nintendo";
    background-color: #E4F1F6;
    margin: 0 -10% 0 -10%;
}

#BandeauSymbioDuo {
    width: 100%;
}

#videoSymbioDuo {
    text-align: center;
    background-color: #E4F1F6;
    padding: 5% 0 2% 0;
}

#footerSymbioDuo {
    background-color: #E4F1F6;
}

.machinSymbioDuo {
    background-color: #E4F1F6;
    box-shadow: 0.05em 0.05em 0.2em #0073a0;
    color: #31353D;
    font-size: 1.2em;
}

#mainSymbioDuo {
    background-color: #FFFFFF;
        color: #31353D;
}

.machinSymbioDuo h6 {
    color: #0D74A1;
}

.machinSymbioDuo h4 {
    color: #0D74A1;
}

.machinSymbioDuo h2 {
    color: #0D74A1;
}

h1{
    color: #0073a0;
}


/*---------------MEMOIRE----------------*/
#Memoire {
    padding: 5%;
}

#ImageMemoire {
    width: 20em;
}

#MemoirePB{
    padding: 0 0 5% 0;
}

#enteteMemoire {
    text-align: center;
    font-family: "Nintendo";
    background-color: #E4F1F6;
    margin: 0 -10% 0 -10%;
}

#footerMemoire {
    background-color: #E4F1F6;
}

.machinMemoire {
    background-color: #E4F1F6;
    box-shadow: 0.05em 0.05em 0.2em #0073a0;
    color: #31353D;
    font-size: 1.2em;
}

#mainMemoire {
    background-color: #FFFFFF;
        color: #31353D;
}

.machinMemoire h6 {
    color: #0D74A1;
}

.machinMemoire h4 {
    color: #0D74A1;
}

.machinMemoire h2 {
    color: #0D74A1;
}

h1{
    color: #0073a0;
}

/*---------------FANFIC----------------*/
#Fanfic {
    padding: 5%;
}

#ImageFanfic {
    width: 10em;
}

#TexteFanfic{
    padding: 0 0 5% 0;
}

#Promenade {
    padding: 5%;
}

#ImagePromenade {
    width: 25em;
    padding: 0 0 8% 0;
}

#TextePromenade{
}

#Genie {
    padding: 5%;
}

#ImageGenie {
    width: 20em;
    padding: 0 0 8% 0;
}

#TexteGenie{
}

#rowGenie{
    padding: 5% 0 0 0;
}

/*---------------FOOTER----------------*/

footer {
    padding-top: 2em;
}

#footerBackground {
    background-color: #e5f1f5;
    padding: 1em;
    box-shadow: 0.1em 0.1em 0.3em #0073a0;
}

#footerBackgroundKBF {
    background-color: #BEA196;
    padding: 1em;
    box-shadow: 0.1em 0.1em 0.3em #BEA196;
}

#footerBackgroundPumpIt {
    background-color: #26111E;
    color: #E9E2BE;
    padding: 1em;
    box-shadow: 0.1em 0.1em 0.3em #BEA196;
}

#footerBackgroundRuneAway {
    background-color: #AA936B;
    color: #E9E2BE;
    padding: 1em;
    box-shadow: 0.1em 0.1em 0.3em #BEA196;
}

#footerBackgroundManoir {
    background-color: #2B1111;
    color: #E9E2BE;
    padding: 1em;
    box-shadow: 0.1em 0.1em 0.3em #2B1111;
}

#footerBackgroundSymbioDuo {
    background-color: #FFFFFF;
    color: #31353D;
    padding: 1em;
    box-shadow: 0.1em 0.1em 0.3em #2B1111;
}

#linkedin {
    text-align: center;
}

#itchio {
    text-align: center;
}


.flexible {
    display: flex;
    align-items: center;
}

.tailleLogoFooter {
    margin: 0 1em 1em 0;
    width: 2em;
}


#mention {
    text-align: center;
    color: black;
    opacity: 50%;
    padding: 1em 0 0 0;
}

/*----------MEDIA QUERIES--------------*/

@media screen and (max-width: 1199.98px) {

    #divMoi {
        text-align: center;
    }

    #moiSansAccroche {
        margin-right: 0;
    }
}

@media screen and (max-width: 991.98px) {

    #DivImageArcheologue {
        order: -1;
        margin: 2em 0;
    }

    #DivImagePFE {
        order: -1;
        margin: 2em 0;
    }

    #DivImageTempleKaji {
        order: -1;
        margin: 2em 0;
    }

    #DivImageBorrowedTime {
        order: -1;
        margin: 2em 0;
    }

    #DivImageFallandaforad {
        order: -1;
        margin: 2em 0;
    }

    #DivImageFatesWays {
        order: -1;
        margin: 2em 0;
    }

    #DivImageJavascript {
        order: -1;
        margin: 2em 0;
    }

    #DivImageOchitaKamigami {
        order: -1;
        margin: 2em 0;
    }

    #DivImageTimelineInegalite {
        order: -1;
        margin: 2em 0;
    }

    #DivImageDecroissance {
        order: -1;
        margin: 2em 0;
    }

    #DivImageOutilResilience {
        order: -1;
        margin: 2em 0;
    }

    #DivImageSymbioDuo {
        order: -1;
        margin: 2em 0;
    }

    #DivImageTripleEthnie {
        order: -1;
        margin: 2em 0;
    }

    #DivImageFanfic {
        order: -1;
        margin: 2em 0;
    }

    #DivImageStaseMancienne {
        order: -1;
        margin: 2em 0;
    }

    #DivImageCelestin {
        order: -1;
        margin: 2em 0;
    }

    #linkedin {
        text-align: inherit;
    }
}
