<style >
/*  *******************************************************************************************************************************/

* {
    border: 2px solid black;
}

#gererPopulation,
#magasin {
    margin: 0 30%;
    border: 2px solid black;
    padding: 1%;
    margin-top: 1%;
    background-color: #f2e7bf;
    text-align: center;
}

.jolibouton {
    justify-content: space-around;
}

.bordurepetitbouton {
    border: 2px solid black;
    padding: 10%;
    margin: 0 10%;
}

.materiaux {
    border: 2px solid black;
    padding: 2% 10% 5% 10%;
}

.bois {
    background-color: brown;
    color: lightgray;
}

.fer {
    background-color: slategrey;
    color: lightgray;
}

#plateau {
    border: 2px solid black;
    padding: 1%;
}

#cadrehaut {
    display: flex;
    justify-content: space-between;

}

#choixMagasin {
    display: flex;
    justify-content: space-around;
}

.choixMagasin {
    border: 2px solid black;
    padding: 0 5% 2% 5%;
}

#magasinSoldat {
    background-color: lightcoral;
}

#magasinFer {
    background-color: lightgray;
}

#magasinBois {
    background-color: burlywood;
}

#maisons {
    display: flex;
    justify-content: space-around;
}

cadrecentre {
    padding: 0 10%;

}

#cadreage {
    text-align: center;
    margin: 0 -20%;

}

#cadretour {
    text-align: center;
}

.cadre {
    border: 2px solid black;
}

.maison {
    text-align: center;
    padding: 0 1%;
    border: 3px solid gray;
}

.maisonouvrier {
    background-color: green;
}

.maisonmilitaire {
    background-color: red;
}

.maisonmarchand {
    background-color: gold;
}

/*-------------------------------------------------*/

#fenetre {
    /*position: fixed;*/
    border: 2px solid black;
    padding: 1%;
    margin-top: 1%;
    background-color: #f2e7bf;
    text-align: center;
}

#choixfenetre {
    display: flex;
    justify-content: space-around;
}


/*------------------------------------------------------*/

#boutons {
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 10%;
}

.bouton {
    background-color: aliceblue;
    padding: 1%;
    border: 2px solid dodgerblue;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.flex {
    display: flex;
}

#combattour {
    margin: 0 30%;
    border: 5px solid red;
    padding: 1%;
    margin-top: 1%;
    background-color: lightcoral;
    text-align: center;
}

#combattour span {
    font-weight: 800;
}

#assaillant {
    margin: 0 30%;
    border: 5px solid red;
    padding: 1%;
    margin-top: 1%;
    background-color: coral;
    text-align: center;
}

#choixcombat {
    display: flex;
    justify-content: space-around;
}

#combatoui {
    border: 2px solid black;
    background-color: red;
    padding: 3% 6%;
}

#combatnon {
    border: 2px solid black;
    background-color: blue;
    padding: 3% 6%;

}

#defaite1,
#defaite2 {
    color: white;
    text-align: center;
    font-size: 150%;
}

#defaite1 p,
#defaite2 p {
    font-size: 250%;
}

.defaite {
    background-color: black;
}

#victoire {
    text-align: center;
    font-size: 150%;
}

#p2 {
    font-size: 250%;
}

.victoire {
    background-color: gold;
}

</style >
